*{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.p-16{
    font-size: 16pt;
}
/*Header*/
.head{
    background-color: midnightblue;
}
.header{
    justify-content: space-between;
    color: white;
    padding: 20px 10px;
}
.logo:first-of-type{
    font-size: 20px;
}
.logo:nth-of-type(2){
    font-size: 15px;
}
.logo:nth-of-type(3){
    font-size: 10px;
}
.menu-toggle{
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 1000px) {
    .menu-toggle{
        display: inline-block;
    }
    .head{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}
/*Side-bar*/
.side-bar{
    background-color: cadetblue;
    width: 20%;
    padding: 10px;
    margin-right: 25px;
    box-shadow: black 1px 1px 2px;
    color: white;
    font-size: 14pt;
    font-weight: bold;
}
.side-bar .all-todos, .side-bar .today-todos,
.side-bar .this-week-todos{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.side-bar .all-todos:hover, .side-bar .today-todos:hover,
.side-bar .this-week-todos:hover{
    background-color: rgba(136, 134, 134, 0.4);
}
.side-bar .all-todos h3, .side-bar .today-todos h3,
.side-bar .this-week-todos h3{
    margin-left: 10px;
}
.side-bar .lists{
    margin-top: 50px;
    flex-direction: column;
}
.side-bar .lists h2{
    font-size: 30px;
    padding: 10px;
}
.side-bar .lists .list{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: space-between;
}
.side-bar .lists .list:hover{
    background-color: rgba(136, 134, 134, 0.4);
}
.side-bar .lists .list h3{
    margin-left: 10px;
}
.side-bar .lists .list .delete-list{
    cursor: pointer;
    justify-self: flex-end;
    visibility: hidden;
}
.side-bar .lists .list:hover .delete-list{
    visibility: visible;
}
.side-bar .lists .list .delete-list:hover{
    color: red;
}
.side-bar .add-list{
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.side-bar .add-list:hover{
    background-color: rgba(136, 134, 134, 0.4);
}
.side-bar .add-list h3{
    margin-left: 10px;
}
@media screen and (max-width: 1000px){
    .side-bar{
        width: 100%;
        position: fixed;
        top: 65px;
        display: none;
    }
    .side-bar.show{
        display: block;
    }
}
/*Main*/
.main{
    margin-top: 20px;
    margin-bottom: 110px;
}
.to-dos-area{
    background-color: #74ded2;
    box-shadow: black 1px 1px 2px;
    width: 100%;
    padding: 10px;
}
.to-do-add{
    flex-direction: column;
}
.to-do{
    justify-content: space-evenly;
    margin: 10px 0px;
}
.to-dos-area h2{
    font-weight: bold;
    text-align: center;
}
.to-do-description{
    border: none;
    padding: 10px;
    outline: none;
    font-size: 14pt;
    width: 50%;
    background-color: cadetblue;
    color: white;
}
.to-do-description::placeholder{
    color: white;
}
.to-do-date,.to-do-time,.to-do-priority{
    padding: 10px;
    font-size: 14pt;
}
.buttons{
    justify-self: flex-end;
    align-self: flex-end;
    margin: 10px 0px;
    width: 100%;
    justify-content: space-evenly;
}
.btn{
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14pt;
}
.btn-add{
    background-color: #50e364;
    width: 48%;
}
.btn-add:hover{
    background-color: #5cd56c;
}
.btn-cancel{
    background-color: #f86060;
    width: 48%;
}
.btn-cancel:hover{
    background-color: #b76868;

}
@media screen and (max-width: 1000px){
    .main{
        flex-direction: column;
        margin-top: 68px;
        margin-bottom: 0;
    }
    .to-do{
        flex-direction: column;
    }
    .to-do-description{
        width: 100%;
    }
    .to-do-description,.to-do-date,.to-do-time{
        margin: 10px 0px;
    }
}
/*Task*/
.task{
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}
.task:hover{
    background-color: rgba(122, 169, 164, 0.42);
}
.task:hover .delete-task{
    visibility: visible
}
.task .delete-task:hover{
    color: red;
}
.task .left{
    width: 65%;
}
.task .check{
    align-self: center;
    margin: 5px;
    cursor: pointer;
}
.task .left .to-do-description{
    background-color: transparent;
}
.task .left .to-do-description:focus{
    border: 1px solid black;
}
.task .date,.task .time{
    align-self: center;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
    margin-right: 5px;
}
.task .delete-task{
    cursor: pointer;
    align-self: center;
    visibility: hidden;
}
.task .delete-task-button{
    background-color: transparent;
    border: none;
}
.high-priority{
    color: #fa4b4b;
}
.medium-priority{
    color: #d2d248;
}
.low-priority{
    color: deepskyblue;
}
@media screen and (max-width: 1000px){
    .task .left{
        width: 54%;
    }
}
/*Footer*/
footer{
    margin-top: 20px;
    background-color: midnightblue;
    color: white;
    font-size: 16pt;
    padding: 10px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}
.social-media{
    justify-content: space-evenly;
    margin-top: 10px;
}
.social-media a{
    color: white;
}
.social-media a:hover{
    color: #777474;
}
@media screen and (max-width: 1000px){
    footer{
        position: static;
    }
}
/*Add List Dialog*/
.add-list-dialog-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.74);
    justify-content: center;
    align-items: center;
    display: none;
}
.add-list-dialog{
    flex-direction: column;
    background-color: white;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
}
.add-list-dialog .add-list-dialog-top{
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9b9999;
    margin-bottom: 5px;
    padding: 10px;
}
.add-list-dialog .add-list-dialog-top h3{
    font-size: 25px;
    font-weight: bold;
}
.add-list-dialog-close{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.add-list-dialog-close:hover{
    color: red;
}
.add-list-name{
    justify-content: center;
    padding: 10px;
}
.add-list-name input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    outline: none;
}
.add-list-buttons{
    justify-content: center;
}
.add-list-dialog-container.show{
    display: flex;
}
